.dashboard-class{
   padding-left:38px;
}
.close{
  float: right;
  height: 18px;
  width: 18px;
  padding:5px;
  cursor: pointer;
}
.image{
    height:2em; background-size:cover; width:98%;
    background-image:url('../icons/header.png');
    background-position:50% 50%;
  }

  .image-wrapper{
        margin-bottom:10px;
        // transform:translateX(-60px);
  }

  .card-wrapper{
    padding-left:10px;
  }
  .card-wrapper-1,.card-wrapper-2{
    padding-left:10px;
    margin-top:10px;
    display:flex;
    margin-bottom: 20px;
  }

    .example-card{
        box-shadow: 0px 0px 5px 3px #d3d3d3;
        border-radius:6px;
        // height:32px;
        background-color: white;
        border:1px solid #f2b34f;
        padding: 0px;
        width: 93%;
        height:80px;
        // margin-right: 30px;
        .content-class{
      
            text-align:center;
            font-size:12px;
            .content-class-1{
                // float: left;
                width:5%;
                display: inline-block;
            }
            .content-class-2{
                float: right;
                width:92%;
                display: inline-block;
                background-color: #fcfcfc;
                height:80px;
                border-radius : 0 6px 6px 0;
                border-left: 3px solid #ececec;
            }
            .image1{
              height:4em;
            //   width:60%;
              background-size:cover;
              background-image:url('../icons/important.png') ;
            //   background-position:50% 50%;
              // margin-left: 40%;
            //   float:left;
              transform: translateY(15px);
            }
            .orange-class{
              padding:8px 10px 0px 15px;
            //   margin-right:20px;
            // margin:15px 5px;
            white-space: nowrap;
            text-align: initial;
            color:#6f6e6f;
            label{
                padding-left: 10px;
                font-size:10px;
            }
            .image2{
                display: inline-block;
                height: 1.8em;
                width: 15%;
                background-size: cover;
                transform: translateY(5px);
                background-image:url('../icons/buttons.png') ;

              }

            }
            .grey-class{
             color: #c9c9c9;
             padding-right:20px;
             font-size:11px;
             border-right:1px solid #c9c9c9;
            }
            .orange-class1{
              font-weight:600;
              padding-left:15px;
              margin-right:155px;
              color:#f2b34f !important;
            }
          }
      }
      
.mat-raised-button{
          background-color: white;
          border-radius:6px;
 }
 .example-card-2{
  box-shadow: 0px 0px 5px 3px #d3d3d3;
  border-radius:6px;
  height:110px;
  background-color:#fcfcfc;
  padding: 10px 20px 20px 20px;
  width: 180px;
  margin-right: 30px;
  border-top:12px solid #ACDA7E;  
  outline: solid 1px #ACDA7E;
  transition: outline 0.6s linear;
  .mat-card-header{
      display:block;       
  }    
  mat-card-title{
      text-align:left;
      color:#363236;
      font-weight:700;
      font-size:12px;
      white-space: nowrap;
      margin-bottom:10px;
      padding-left:6px;
  }
  mat-card-content{
    .content-1{
      background-color: #f8f8f8;
    padding:5px 8px;
    border-radius: 4px;
    display: flex;
    align-content: center;
    align-items: center;
    height: 25px;
    div{
      position: absolute;
      font-size:10px;
      margin-bottom: 20px;
      div{
        display: inline-block;
        padding: 3px;
        height: 8px;
        margin-bottom: 10px;
        border: 0.5px solid #d1e4f5;
        border-radius: 3px;
        background-color: #d1e4f5;
        // margin-left:10px;
        margin-left: 125px;        
      }
    }
    }
    .content-2{
      font-size: 10px;
      color:#999899;
      padding-left:6px;
      margin-top:10px;
      // font-weight:600;
      label{
        font-weight: 700;
      }
      div{
        padding:4px;
      }
      .example-slider{
        height:10px;
        transform: translate(45px,-10px);
      }
      >div{
        height:15px;                   
        background-image:url('../icons/Healthy.png') ; 
        background-repeat: no-repeat;
        div{
          transform: translateY(-5px);
          display: inline-block;
          padding-left:15px;
          text-align: left;
        }
      }
      div:nth-child(2){
        height:15px;                   
        background-image:url('../icons/Faulty.png') ; 
        background-repeat: no-repeat;
        transform: translateY(5px);       
      }
    }
    .content-3{
      text-align: end;
      font-size: 10px;      
      color:rgb(173, 33, 24);
      transform: translateY(-12px);
      .link{
        cursor: pointer;
      }
  }
}
  mat-progress-bar{
    margin-top:20px;
}
}
.example-card-2:hover,
.example-card-3:hover,
.example-card-4:hover{
  outline-width: 8px; 
}
 .example-card-3,
 .example-card-4{
  box-shadow: 0px 0px 5px 3px #d3d3d3;
  border-radius:6px;
  height:120px;
  background-color:#ffffff;
  padding: 20px 20px 20px 20px;
  width: 305px;
  margin-right: 30px;
  outline: solid 1px #ACDA7E;
  transition: outline 0.6s linear;
  .mat-card-header{
    display:block;     
    div{
      color:rgb(173, 33, 24);
      font-size:12px;
      padding-left: 6px;
      transform: translateY(-6px);
    }  
}    
mat-card-title{
    text-align:left;
    color:#363236;
    font-weight:700;
    font-size:12px;
    white-space: nowrap;
    margin-bottom:10px;
    padding-left:6px;
}
}
.example-card-3{
  .content-1{
    margin-top:10px;
    padding-left:5px;
    border-right:1px solid lightgrey;
    width:50%;
    display: inline-block;
    float:left;
    .wrapper-div{
      margin-bottom:8px;
    }
    .digitalImage{
      background-image:url('../icons/Digital.png') ; 
      background-repeat: no-repeat;
      height:20px;
      display: inline-block;
      width:25px;
    }
    .walkInImage{
      background-image:url('../icons/WalkIn.png') ; 
      background-repeat: no-repeat;
      height:20px;
      display: inline-block;
      width:25px;      
      transform: translateX(4px);
    }
    .count{
      color:#000;
      font-size:30px;
      font-weight:600;
      display: inline-block;
    }
    .text{
      display: inline-block;
      padding-left:10px;
      font-size: 10px;
    }
  }
  .content-2{
    margin-top: 10px;
    padding-left: 10px;
    width: 40%;
    display: inline-block;
    transform: translateY(-5px);
    .wrapper-div{
      margin-bottom:8px;
    }
    .image1{
      background-image:url('../icons/ChickenBowl.png') ; 
      background-repeat: no-repeat;
      height:20px;
      display: inline-block;
      width:25px;
      transform: translateY(6px);
    }
    .image2{
      background-image:url('../icons/VeggieBowl.png') ; 
      background-repeat: no-repeat;
      height:20px;
      display: inline-block;
      width:25px;
      transform: translateY(6px);
    }
    .image3{
      background-image:url('../icons/Steak.png') ; 
      background-repeat: no-repeat;
      height:20px;
      display: inline-block;
      width:25px;
      transform: translate(3px,6px);
    }
    .count{
      color:#000;
      display: inline-block;
      padding-left:10px;
      font-size: 10px;
      font-weight:600;
    }
    .text{
      display: inline-block;
      padding-left:10px;
      font-size: 10px;
      width: 50%;
    }
  }
}

.example-card-4{
  mat-card-title{
    width: 40%;
    float: left;
  }
  .mat-card-header div{
    transform: translate(-35px,-4px);
    display: inline-block;
    width: 40%;
  }
  .top-content{
    display:inline-block;
    width:100%;
  }
  .content-1{   
    display:inline-block;
    width:35%;
    float:left;
    .img{
      background-image:url('../../assets/sun.png') ; 
      background-repeat: no-repeat;
      height:36px;
      // display: inline-block;
      width:30px;
      margin-left: 30px;      
    }
    .text{     
      font-size: 11px;
      transform: translate(10px,-5px);
      color: #0089ff;
    }
  }
  .content-2 .img{
    background-image:url('../../assets/temperature.png') ; 
  }   
  .content-3 .img{
    background-image:url('../../assets/sunny.png') ; 
  }   
  .content-2,.content-3{   
    display:inline-block;
    width:65%;
    float:right;
    .img{      
      background-repeat: no-repeat;
      height:25px;
      width:18px;     
      float:left;
    }
    .text{     
      font-size: 9px;
      transform: translate(6px, 2px);
      }          
  }  
  .bottom-content{
    .left{
      background-color: #f8f8f8;
      width: 48%;
      border-radius: 8px;
      height: 55px;
      float: left;
    }
    .left-1{      
      // display: inline-block;
      // float: left;
      width:100%;
        .img{
          background-image:url('../../assets/Info.png') ; 
          background-repeat: no-repeat;
          height:25px;
          width:18px;     
          display: inline-block;
          margin: 6px 6px 0px 6px;
          float:left;
        }
        .text{
          font-size:11px;
          color: #0089ff;
          display: inline-block;
          padding:10px 0 0 6px;
        }        
      }
      .left-2{   
        display:inline-block;
        width:100%;
        .cont1{
          width:30%;
          float: left;
          display: inline-block;
          padding-left: 20px;
        }
        .cont2{
          width:50%;
          float: right;
          display: inline-block;
        }
        .img1{
          background-image:url('../../assets/heart.png') ; 
          background-repeat: no-repeat;
          height:25px;
          width:18px;   
          display: inline-block;
          float: left;  
        }
        .img2{
          background-image:url('../../assets/thumb-up.png') ; 
          background-repeat: no-repeat;
          height:25px;
          width:18px;     
          display: inline-block;
          float: left;
          transform: translateY(-2px);        
        }
        .text{
          font-size:11px;
          transform: translate(4px,1px);  
        }
      }
    .right{
      background-color: #f8f8f8;
      width: 48%;
      border-radius: 8px;
      height: 55px;
      display: inline-block;
      float: right;
      .img{
        background-image:url('../../assets/megaphone.png') ; 
          background-repeat: no-repeat;
          height:25px;
          width:18px;     
          display: inline-block;
          float: left;
          margin: 10px 6px 0px 6px;
      }
      .text1{
        color:#0089ff;
        font-size: 12px;
        padding:10px 6px 4px 4px;
      }
      .text2{
        color:#6F6E6F;
        font-size: 8px;
      }
    }
  }
}


//progress bar css
 ::ng-deep .progress-bar-fill::after {
  background-color: #acda7e;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

//slider css

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: #acda7e;
}
::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-thumb {
  background-color: #acda7e;
}